{
  "extends": [
    "react-native-shinpei"
  ],
  "parserOptions": {
    "ecmaVersion": "2018",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "overrides": [
    {
      "files": [
        "**/*.tsx"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ],
  "plugins": [
    "react"
  ],
  "globals": {
    "Promise": true,
    "setTimeout": true,
    "FormData": true
  }
}
